<% layout("/layouts/boilerplate") %>

<body>
    
    <div class="contain">
        <div class="rowwwww">
            <div class="col-md-6">
                <div class="slideshow-container">

                    <div class="mySlides fade">
                      <div class="numbertext"></div>
                      <img src="https://ideogram.ai/assets/progressive-image/balanced/response/z6NfOHgPTkauR8u9LPFVLQ" style="width:100%">
                      <div class="text">Curated Gift Hampers</div>
                    </div>
                    
                    <div class="mySlides fade">
                      <div class="numbertext"></div>
                      <img src="https://ideogram.ai/assets/progressive-image/balanced/response/pLuNfX-DT6S5q-JFmstbVw" style="width:100%">
                      <div class="text">The Suns Heat Solution</div>
                    </div>
                    
                    <div class="mySlides fade">
                      <div class="numbertext"></div>
                      <img src="https://ideogram.ai/assets/progressive-image/balanced/response/H1QjLDSpQfeVymb2QC6sUQ" style="width:100%">
                      <div class="text">Unlock The effect OF Ayurveda</div>
                    </div>
                    
                    </div>
                    <br>
                    
                    <div style="text-align:center">
                      <span class="dot"></span> 
                      <span class="dot"></span> 
                      <span class="dot"></span> 
                    </div>
                    
                   
                    
            </div>
            
        
            
       
        
        
        
    </div>

   
    </div>
    <div class="contain2">
        <div class="makequiz">
        <H1>SHOP FOR</H1>
        
        <div class="takequiz">
            
                
                
            
            <a href="/quiz">   <div class="col-md-9"> 
                    <img src="/Images/Untitled canva.jpeg" alt="">
                    <h1>Custom Products</h1>
                   
                </div></a>
              <a href="/shop"><div class="col-md-10">
                   <img src="/Images/Untitled canvas.jpeg" alt=""> 
                   <h1>BestSellers</h1>
                </div></a>  
            </div>
        </div>
            </div>

        
        <div class="jjthomson">
            
            <h1 style="font-size: 280px;">&nbsp;</h1>
            

        </div>
        <div class="newdiv">
            <div class="olddiv">
            <h1>Ready to Witness Ayurveda</h1>
            <h4>Our products are made with the finest ingredients and are backed by the science of Ayurveda. <br> We believe in the power of nature and the magic it can do to your skin. <br><br> Our products are made with the finest ingredients and are backed by the science of Ayurveda. <br> We believe in the power of nature and the magic it can do to your skin.</h4>

            <a href="/ayurveda"><button>Read More &rarr;</button></a>
        </div>
    
        <div class="olddiv2">
            <div class="rev">
                <h2>5000+</h2>
                <h4>reviews</h4>
            </div>
          
            <div class="rev2">
                <h2>310,000+</h2>
                <h4>happy costumers</h4>

            </div>
        </div>
        </div>
        <div class="findin">

            <div class="crazydiv" style="max-width:500px">
                <h1 class="mySlidess">This night cream is a lifesaver! I wake up every morning with plump, hydrated skin. It’s rich yet non-greasy, and a little goes a long way. My skin feels deeply nourished, and I’ve even noticed fine lines starting to fade. It’s become an essential part of my nighttime routine.</h1>
                <h1 class="mySlidess">I’ve been using this serum for a few weeks now, and I’m already seeing a difference in my skin. It’s brighter, smoother, and more even-toned. I love that it’s lightweight and absorbs quickly, so I can layer it under my moisturizer and makeup without any issues.</h1>
                <h1 class="mySlidess">This night cream is a lifesaver! I wake up every morning with plump, hydrated skin. 
                    <br>
                    It’s rich yet non-greasy, and a little goes a long way. My skin feels deeply nourished, and I’ve even noticed fine lines starting to fade. 
                    <br>
                    It’s become an essential part of my nighttime routine.</h1>
                <h1 class="mySlidess">This cleanser is perfect for my sensitive skin. It effectively removes dirt and makeup without stripping away natural oils. 
                    <br>
                    My skin feels clean and refreshed, but never dry. The subtle fragrance is also a nice touch! 
                    <br>
                    I only wish it came in a bigger size because I’m already hooked!</h1>
      </div>
      <div class="crazzydiv">
        <h1>Become A Franchise Partner</h1>
        <h4>Join hands with us and become a part of the fastest growing Ayurvedic skincare brand in India. <br> We are looking for passionate individuals who share our vision of making Ayurveda accessible to all. <br> If you are interested in becoming a franchise partner, we would love to hear from you.</h4>
        
      </div>
    </div>
    </div>
        

        <!-- <div class="rutherford">
            <div class="col-md-15">
                <div class="dic">
                    <hr>
                    <h4>Our Magic Numbers</h4>
                </div>
                
            </div>
            <div class="col-md-14">
            <div class="row1">
                <h4> We celebrate the numbers that matter.<br> From thousands of satisfied customers <br>to countless products ordered, these figures<br> reflect the love and trust you place in us. </h4>
            </div>
            <div class="row4">
            <div class="row2">
                <H1>87%</H1>
                <h4>of our customers</h4>
                <h7>Saw reduction in acne<br> and blemishes on their skin<br> in 2-3 weeks</h7>
            </div>
            <div class="row3">
                <h1>81000+</h1>
                <h4>Products Sold</h4>
                <h7>Our products are loved by<br> thousands of customers<br> worldwide</h7>
            </div>
        </div>
            </div>
            
        </div> -->
<!-- <div class="bohr">
    <div class="tanvi">
       <h1>STOP WISHING YOU HAD <BR> GREAT SKIN AND GET IT!</h1>
        <H3 style="font-size: 24px;">ASK US HOW?</H3>
        <button>SHOP NOW &rarr;</button>
    </div>
    <div class="tomar">
        <h1>We Provide Dermatology: <BR>Advanced Solutions for <br> Healthy Skin</h1>
           
            <button>BOOK NOW &rarr;</button>

    </div>
</div>
<div class="alet " id="popup">
    <div class="sqr">
        <h5>REMINDER</h5><br>
        <p>be goood to your skin, you'll wear it<br>everyday for thr next of your life</p>
        <br>
        <hr>
       <button type="submit"> <a href="/home" id="btnn">Okay</a></button>
    </div> -->

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
  

var myIndex = 0;

carousel();
// Change image every 2 seconds
function carousel() {
    var k;
    var x = document.getElementsByClassName("mySlidess");
    for (k = 0; k < x.length; k++) {
        x[k].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
   
}

//   var k;
  
//   var x = document.getElementsByClassName("mySlides");
//   for (k = 0; k < x.length; k++) {
//     x[k].style.display = "none";  
//   }
//   myIndex++;
//   if (myIndex > x.length) {myIndex = 1}    
//   x[myIndex-1].style.display = "block";  
//   setTimeout(carousel, 2000); // Change image every 2 seconds
// }

    </script>
</body>




    
    
    




