<% layout("/layouts/boilerplate") %>

<body>
    
    <div class="contain">
        <div class="rowwwww">
            <div class="col-md-6">
                <h4> Treat your skin like your<br> partner </h4>
                
                <h1> HIGHLY EFFECTIVE<br> SKINCARE</h1>
                <h4>a combination of nature and advanced technology.<br>
                    vegan, natural, skin-friendly and rich in effective<br>
                    biotechnological ingredients</h4><br>
                    <form action="/shop"><a href="/shop"><button type="submit" ><h5 style="float: left;">Shop Now &rarr; </h5></button> </a></form>
                   
                    
            </div>
            <div class="col-md-7">
               
           
          
        </div>
        
            
       
        
        
        
    </div>

   
    </div>
    <div class="contain2">
        <div class="col-md-8 scroll-animation" id="animateMe">
            <h1>Meet Your New SkinCare Routine</h1>
        </div>
        <div class="takequiz">
            
                <div class="col-md-9"> 
                    <hr>
                    <h1>Custom Skincare</h1>
                    <h4>Confidence beckons,<br> its embrace but a <br>single step distant.</h4>
                    <form><button><h5 style="float: left;">Take the Quiz &rarr; </h5> </button></form>
                </div>
                <div class="col-md-10">
                   <img src="/Images/a-photo-of-daily-skincare-products-with-a-nutral-b-SsLEgr_0Rxmy-chxvpUY8g-tSPpvrCsQGiA9W2f5aWIPA.jpeg" alt=""> 
                </div>
            </div>
            

        </div>
        <div class="jjthomson">
            <h1 class="heading1">ARE YOU READY </h1><h1 class="heading2"> FOR SOMETHING </h1><h1 class="heading3">COMPLETELY DIFFERENT</h1>
                <div class="col-md-13">
                    <H2>AYURVEDIC SKINCARE</H2>
                    <h3>
                       Harness the power of<br>nature to heal<br> and enhance your skin's <br>beauty. <br>
                    </h3>
                    <button><a href="/ayurveda">Read More &rarr;</a></button>
                
                    </div>
            <div class="col-md-12">
                <div class="img1"><img src=""></div>
                

            </div>
            

        </div>

        <!-- <div class="rutherford">
            <div class="col-md-15">
                <div class="dic">
                    <hr>
                    <h4>Our Magic Numbers</h4>
                </div>
                
            </div>
            <div class="col-md-14">
            <div class="row1">
                <h4> We celebrate the numbers that matter.<br> From thousands of satisfied customers <br>to countless products ordered, these figures<br> reflect the love and trust you place in us. </h4>
            </div>
            <div class="row4">
            <div class="row2">
                <H1>87%</H1>
                <h4>of our customers</h4>
                <h7>Saw reduction in acne<br> and blemishes on their skin<br> in 2-3 weeks</h7>
            </div>
            <div class="row3">
                <h1>81000+</h1>
                <h4>Products Sold</h4>
                <h7>Our products are loved by<br> thousands of customers<br> worldwide</h7>
            </div>
        </div>
            </div>
            
        </div> -->
<div class="bohr">
    <div class="tanvi">
       <h1>STOP WISHING YOU HAD <BR> GREAT SKIN AND GET IT!</h1>
        <H3 style="font-size: 24px;">ASK US HOW?</H3>
        <button>SHOP NOW &rarr;</button>
    </div>
    <div class="tomar">
        <h1>We Provide Dermatology: <BR>Advanced Solutions for <br> Healthy Skin</h1>
           
            <button>BOOK NOW &rarr;</button>

    </div>
</div>
<div class="alet " id="popup">
    <div class="sqr">
        <h5>REMINDER</h5><br>
        <p>be goood to your skin, you'll wear it<br>everyday for thr next of your life</p>
        <br>
        <hr>
       <button type="submit"> <a href="/home" id="btnn">Okay</a></button>
    </div>
</div>
</body>




    
    
    




